@import 'mdb/mdb';

$theme-color: #fc2828;
$background-color: #02548b;

body {
  background-color: $background-color;
}

footer {
  color: white;
  background-color: #333;
}

.card, .list-group-item {
  background-color: $background-color; // CV and Project Cards background color
}

.news {
  a {
    color: $theme-color;

    &:hover {
      text-decoration: underline;
    }
  }
}

.project-card {
  .card-body {
    border-top: 1px solid rgba(60, 72, 88, 0.2);
  }
}
